<template name='reviews'>
	<div>
		<div class="row">
			{{> reactiveTable collection=reviews showNavigation='auto' settings=reviewTableSettings rowsPerPage=10 class="table table-hover"}}
			{{#unless reviews}}
			{{> contentFor region="aside" template="miniGuide"}}
			{{else}}
			{{/unless}}
		</div>
	</div>
	{{> createReviewModal}}
	{{> viewItemModal}}
	{{> delItemModal}}
</template>
<!-- Mini guide -->
<template name='miniGuide'>
	{{> miniSetupGuide}}
</template>
<template name='noReviewData'>
	oops there is no data here.
</template>
<template name='miniSetupGuide'>
	<div class="my-panel black">
		<div>
			<h4>How to setup your user reviews with http(s)</h4>
			<p>
				For every endpoint you'd have to include the following keys from your account
				<ul>
					<li><b>X-Api-Key:</b> Your generated app id</li>
				</ul>
			</p>
		</div>
		<div>
			<h4>Api endpoints</h4>
			<p>
				Here is a list of all available endpoints, including their corresponding HTTP method, path, and a short description of their behavior:

				<hr>
				<div>
					<h4>http://{{Config.domainName}}/api/v1/reviews</h4>
					<h6>POST</h6>
					<div>
						To create a new feedback item
					</div>
					<div style="font-weight: bold;">
						curl -X GET http://{{Config.domainName}}/api/v1/reviews -H "X-App-Id: YOUR APP API KEY" -d "title=Some title" -d "text=Some text as message" -d "owner: the x-user-id" -d "meta: other data you'd wish to save"
					</div>
				</div>
			</p>
		</div>
	</div>
</template>
<!-- Mini keys -->
<template name='miniKeysPanel'>
	<div class="my-panel">
		<h4>Api Credentials</h4>
		<div>
			User key:
		</div>
		<div>
			Authentication key:
		</div>
	</div>
</template>