<template name='dashboardLayout'>
	<div class="container-fluid">
		<div class="row"> 
			{{> navbar}}
			{{> activeApp}}
			<div class="container-fluid">
				<div class="row">
					<div class="column"> 
						<div class="col-md-2">
							<div class="list-group sidebar">							
								<a href="{{pathFor 'dashboard'}}" class="list-group-item">
									<i class="flaticon-inbox25"></i> Inbox <!-- <span class="badge">42</span> -->
								</a>	
								<a href="{{pathFor 'starred'}}" class="list-group-item">
									<i class="flaticon-stars80"></i> Starred <!-- <span class="badge">42</span> -->
								</a>	
								<a href="{{pathFor 'archive'}}" class="list-group-item">
									<i class="flaticon-papers12"></i> Archive <!-- <span class="badge">42</span> -->
								</a>
								<a href="{{pathFor 'userApps'}}" class="list-group-item">
									<i class="flaticon-app3"></i> My Apps
								</a>
								<a href="{{pathFor 'profile'}}" class="list-group-item">
									<i class="flaticon-users59"></i>  Profile
								</a>
							</div> 
						</div>
						<div class="col-md-7"> 
							<div class="my-panel">
								{{> yield}}
							</div>
						</div>
						<div class="col-md-3">
							<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createReviewModal">Create Review</button> -->
							<div>
								{{> yield "aside"}}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<template name='activeApp'>
	<div class="sub-nav">
		<div class='container'>
			<div class="row">
			<b>Active app >> {{#if User.activeApp}} {{User.activeApp.name}}{{else}}No active app set{{/if}}</b>
			</div>
		</div>
	</div>
</template>