<template name='dashboardLayout'>
	{{> navbar}}
	<div class="container-fluid">
		<div class="row">
			<div class="column"> 
				<div class="col-md-2">
					<div class="list-group">							
						<a href="{{pathFor 'dashboard'}}" class="list-group-item">Inbox <span class="badge">42</span></a>	
						<a href="{{pathFor 'starred'}}" class="list-group-item">Starred <span class="badge">42</span></a>	
						<a href="{{pathFor 'archive'}}" class="list-group-item">Archive <span class="badge">42</span></a>	
						<a href="{{pathFor 'profile'}}" class="list-group-item">Profile</a>
					</div> 
				</div>
				<div class="col-md-7"> 
					<div class="panel panel-default">
						<div class="panel-body"> 
							{{> yield}}
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createReviewModal">Create Review</button>
				</div>
			</div>
		</div>
	</div>
</template>