<template name='dashboardLayout'>
	{{> navbar}}
	<div class="container">
		<div class="row">
			<div class="column"> 
				<div class="col-md-2">
					<ul class="nav nav-pills nav-stacked">
						<li>
							<a href="/">Inbox</a>
							<a href="{{pathFor 'starred'}}">Starred</a>
							<a href="{{pathFor 'archive'}}">Archive</a>
							<a href="{{pathFor 'profile'}}">Profile</a>
						</li>
					</ul> 
				</div>
				<div class="col-md-7"> 
					{{> yield}}
				</div>
				<div class="col-md-3">
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createReviewModal">Create Review</button>
				</div>
			</div>
		</div>
	</div>
</template>