ul.user-apps{
	list-style-type: none;
	padding: 0px;

	li{
		border-bottom: 1px solid #eee;
		padding: 0px 10px;

		.description{
			text-align: justify;
		}

		&.active{
			background-color: rgba(114, 161, 202, 0.1);

			&:hover{
				cursor: default;
				background-color: rgba(114, 161, 202, 0.1);
			}
		}

		&:hover{
			cursor: pointer;
			background-color: #FAFDFD;
		}

		&:first-child{
			border-top: 1px solid #eee;
		}
	}
}